@model ExpenseTracker.DB.Model.ExpenseCategory

@{
    ViewData["Title"] = "Edit Category";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="CategoryName" class="control-label">Category Name</label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
